{% from 'baseframe/forms.html' import renderform %}

{% block maincontent %}
<title>Client App</title>
{{renderform(form)}}
{% endblock %}

{% block footerscripts %}
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/jquery.ba-postmessage.js"></script>
<script type="text/javascript" src="static/imgee.js"></script>
<script>
$(function (){
    var imgee_url = "{{config.get('IMGEE_ENDPOINT', 'http://0.0.0.0:4500')}}";
    var profile = $('.imgee-url-holder').data('profile');
    var size = $('.imgee-url-holder').data('img-size');
    var label = $('.imgee-url-holder').data('img-label');
    var image_url;

    $('.imgee-url-holder')
    .after("<div class='holder'></div>").parent().find('.holder')
    .imgee({'imgee_url': imgee_url,
            'profile': profile,
            'label': label,
            'callback': function(imgname){
                image_url = imgee_url + 'embed/file/' + imgname;
                if (size){
                    image_url += '?size=' + size;
                }
                $('.imgee-url-holder').val(image_url);
            },
            debug:true});
});
</script>
{% endblock %}
