.DS_Store
*.pyc
test.db
test.sh
.vscode
*.wpr
.project
.pydevproject
.settings
*.egg-info
.coverage
docs/_build
build/
dist/
.webassets-cache
nosetests.xml
.sass-cache
instance/production.py
instance/development.py
instance/testing.py
*packed.css
*packed.js
error.log
imgee/static/uploads
imgee/static/test_uploads
*.bak
instance/production.env.sh
imgee/static/gen
.pytest_cache
imgee/static/img/fa5-packed.svg
