Flask
https://github.com/hasgeek/coaster/zipball/master
https://github.com/hasgeek/baseframe/zipball/master
Flask-SQLAlchemy
https://github.com/hasgeek/flask-lastuser/zipball/master
Flask-Admin
boto
-e git+http://github.com/FelixLoether/flask-uploads#egg=Flask-Uploads
-e git://github.com/kvesteri/flask-storage.git#egg=Flask-Storage
PIL
