.expandable1, .expandable2 {
  overflow: hidden;
}

.selected-profile a {
  color: #e95a1e;
}
.selected-profile a:hover {
  text-decoration: none;
}

.sidebar .nav-list li {
  text-shadow: none;
}
.sidebar .nav-list a {
  text-shadow: none;
}
.sidebar .btn {
  width: 90%;
  margin-bottom: 0px;
  margin-top: 6px;
}

.icon-tag.alt {
  opacity: 0.1;
}

@media (min-width: 768px) and (max-width: 979px) {
  .sidebar .btn {
    width: 83%;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .sidebar .btn {
    width: 88%;
  }
}
li.image .image-thumb > img {
  box-shadow: 1px 1px 2px #cccccc;
}

.gallery {
  margin-top: 20px;
}

/** list-grid switcher 88/ */
.list-grid-selector .btn {
  text-shadow: none;
}
.list-grid-selector .btn.active, .list-grid-selector .btn:active {
  box-shadow: none;
}

/*list view */
ul.list {
  list-style: none;
}
ul.list section.top {
  display: block;
  margin-bottom: 25px;
  margin-left: -12px;
}
ul.list li {
  display: block;
  clear: both;
  border-top: 1px solid #e5e5e5;
  margin-left: 5px;
  padding-top: 6px;
  float: left;
}
ul.list li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
ul.list li:hover {
  background-color: whitesmoke;
}
ul.list li .span1 {
  margin-left: 0;
}
ul.list li section.left {
  display: block;
  float: left;
  margin-left: 10px;
  margin-right: -10px;
  position: relative;
}
ul.list li section.left img {
  width: 35px;
  height: 35px;
}
ul.list li section.right {
  display: block;
  float: left;
  text-align: left;
  position: relative;
}

/*grid view */
ul.grid {
  list-style: none;
}
ul.grid section.top {
  display: none;
}
ul.grid li {
  position: relative;
  float: left;
  margin-right: 5px;
  border-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
ul.grid li section.left {
  position: relative;
}
ul.grid li section.right {
  display: none;
}

.view-image .heading {
  margin-bottom: 5px;
}
.view-image .editable_title form {
  padding-bottom: 40px;
}
.view-image .editable_title form button {
  margin-top: 3px;
}

.img-attr {
  color: #999999;
  font-size: 12px;
}
.img-attr em {
  color: #666666;
}
.img-attr ul {
  margin-left: 5px;
}
.img-attr ul li {
  list-style-type: none;
}

.show-label .heading {
  color: #856a91;
}
.show-label .editable_label {
  color: #eb5b1f;
}

.modal {
  max-height: 505px;
}

/* The MIT License */
.dropzone, .dropzone *, .dropzone-previews, .dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dropzone {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.02);
  padding: 1em;
}

.dropzone.dz-clickable {
  cursor: pointer;
}

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}

.dropzone.dz-clickable * {
  cursor: default;
}

.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.dropzone.dz-drag-hover {
  border-color: rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.04);
}

.dropzone.dz-started .dz-message {
  display: none;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245, 245, 245, 0.8);
  padding: 8px 10px;
  color: #880000;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}

.dropzone {
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  padding: 23px;
}

.dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../img/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .dropzone .dz-default.dz-message {
    background-image: url("../img/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.dropzone .dz-default.dz-message span {
  display: none;
}

.dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}

.dropzone.dz-drag-hover .dz-message {
  opacity: 0.15;
  filter: alpha(opacity=15);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
}

.dropzone.dz-started .dz-message {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  font-size: 14px;
}

.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  filter: alpha(opacity=10);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../img/spritemap.png");
  background-repeat: no-repeat;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .dropzone .dz-preview .dz-error-mark,
  .dropzone-previews .dz-preview .dz-error-mark,
  .dropzone .dz-preview .dz-success-mark,
  .dropzone-previews .dz-preview .dz-success-mark {
    background-image: url("../img/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../img/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .dropzone .dz-preview .dz-progress .dz-upload,
  .dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-image: url("../img/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

@-moz-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}

@-webkit-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}

@-o-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}

@-ms-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}

@keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}

/* ======== General ========= */
.logo {
  margin-top: 25px;
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1370506999');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 150px;
  height: 75px;
}

.well hr {
  margin: 8px 0 8px 0;
}

.date {
  font-size: 11px;
  color: #999999;
}

/* ======== index page ========= */
.index {
  margin-top: 60px;
}

.index-img {
  padding-right: 60px;
  opacity: 0.5;
  width: 60%;
}

/* ======== profile, pop_up_gallery, show_label pages ========= */
.albumpage {
  border: 0px solid #ececec;
  padding-top: 20px;
}

/* ======== view_image page ========= */
.resize input, .resize textarea {
  width: 100px;
  display: inline-block;
  margin-right: 5px;
}
.resize label {
  float: left;
  margin-top: 8px;
  width: 50px;
}
.resize #img_link {
  margin-bottom: 5px;
  margin-top: 5px;
}

.sidebar .browse-img > h4 {
  margin-bottom: 10px;
  margin-top: 5px;
}
.sidebar .image-thumb {
  float: left;
  margin-bottom: 30px;
}
.sidebar .image-thumb .active {
  border: 5px solid #f0a40c;
  margin-top: -2.5px;
}
.sidebar .image-thumb img {
  width: 47px;
  height: 47px;
  display: block;
  box-shadow: 1px 1px 2px #cccccc;
  margin: 2.5px;
}

/* ======== popup_gallery page ========= */
.popup {
  margin-top: 0;
}
.popup .form-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
}
.popup .form-box .icon-group-popup {
  display: block;
  padding-top: 50px;
  padding-bottom: 5px;
  color: #cccccc;
}
.popup .form-box .icon-group-popup .icon-cloud-upload {
  font-size: 100px;
}
.popup .form-box .icon-group-popup .icon-desktop {
  font-size: 85px;
}
.popup .form-box .icon-group-popup .icon-link {
  font-size: 100px;
}
.popup .form-box input {
  margin-top: 50px;
  position: relative;
}
.popup .form-box .form-title {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  margin: 0;
}
.popup .form-horizontal .controls {
  float: none;
}
.popup .form-horizontal .control-label {
  float: none;
  padding-top: 1px;
}
.popup label {
  display: none;
}

.delete-btn, .select-img, .zoom-btn {
  display: none;
  float: left;
}

.select-options {
  position: relative;
}
.select-options a:hover {
  text-decoration: none;
}

.span9.tabbable {
  float: left;
  position: relative;
  margin-left: 300px;
}

.side-tab .span3 {
  position: fixed;
  margin-top: 3px;
}

#preview-box {
  position: fixed;
  margin-left: 600px;
  margin-top: 3px;
}

.tabs-left .nav-tabs {
  border-right: 1px solid #dddddd;
  float: left;
  height: 500px;
}

.tab-pane .list-grid-selector {
  margin-bottom: 10px;
  margin-top: 10px;
}

.view-all {
  margin-top: 15px;
  border-bottom: #0087cf 1px solid;
  font-size: 13px;
  margin-right: 50px;
}
.view-all:hover {
  text-decoration: none;
  border-color: #005580;
}
.view-all:hover i {
  background-color: #005580;
}
.view-all i {
  color: white;
  background-color: #0088cc;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 2px;
  font-size: 18px;
}

.popup-gallery li.image .image-thumb > img {
  box-shadow: 1px 1px 2px #cccccc;
}
.popup-gallery ul.grid {
  list-style: none;
}
.popup-gallery ul.grid .select-options {
  height: 20px;
}
.popup-gallery ul.grid .select-options .delete-btn, .popup-gallery ul.grid .select-options .zoom-btn {
  float: left;
  margin-top: -20px;
}
.popup-gallery ul.grid .select-options .delete-btn {
  float: right;
}
.popup-gallery ul.grid .select-options .select-img {
  margin-top: -80px;
  margin-left: 5px;
}
.popup-gallery ul.grid section.top {
  display: none;
}
.popup-gallery ul.grid li {
  position: relative;
  float: left;
  margin-right: 5px;
  border-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
.popup-gallery ul.grid li button {
  padding-left: 31px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.popup-gallery ul.grid li img {
  border: 5px solid white;
}
.popup-gallery ul.grid li:hover {
  background-color: whitesmoke;
  border-color: #cccccc;
}
.popup-gallery ul.grid li:hover img {
  border-color: #f0a40c;
  padding-right: 0;
}
.popup-gallery ul.list {
  list-style: none;
}
.popup-gallery ul.list .select-options {
  height: 10px;
}
.popup-gallery ul.list .select-options:hover {
  margin-bottom: -20px;
}
.popup-gallery ul.list .select-options .delete-btn, .popup-gallery ul.list .select-options .zoom-btn {
  float: left;
  margin-top: -20px;
  margin-left: 110px;
  margin-top: -60px;
}
.popup-gallery ul.list .select-options .delete-btn {
  float: left;
  margin-top: -40px;
}
.popup-gallery ul.list .select-options .select-img {
  margin-top: -37px;
  margin-left: 40px;
  float: left;
}
.popup-gallery ul.list section.top {
  display: block;
  margin-bottom: 25px;
  margin-left: 12px;
}
.popup-gallery ul.list li {
  display: block;
  clear: both;
  border-top: 1px solid #e5e5e5;
  margin-left: -30px;
  padding-top: 6px;
  width: 100%;
  float: left;
}
.popup-gallery ul.list li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.popup-gallery ul.list li:hover {
  background-color: whitesmoke;
  padding-bottom: 0;
}
.popup-gallery ul.list li .span1 {
  margin-left: -10px;
}
.popup-gallery ul.list li section.left {
  display: block;
  float: left;
  margin-left: 10px;
  position: relative;
}
.popup-gallery ul.list li section.left img {
  width: 35px;
  height: 35px;
}
.popup-gallery ul.list li section.right {
  display: block;
  float: left;
  text-align: left;
  position: relative;
  margin-left: 100px;
}

.title {
  font-size: 13px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
}

.editable_title {
  padding: 5px;
  padding-bottom: 8px;
}
.editable_title:hover {
  background-color: #fff7e8;
}
.editable_title form {
  height: 20px;
  z-index: 999;
  padding-bottom: 5px;
}
.editable_title form input {
  background-color: #fff7e8;
  border: 0;
  box-shadow: none;
  width: 120px;
  height: 150px;
}
.editable_title form button {
  margin-top: -10px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.editable_label:hover {
  background-color: #fff7e8;
}

.span5 .editable_title form {
  padding-bottom: 50px;
}
.span5 .editable_title form button {
  margin-top: 3px;
}

.thumbnail {
  background-color: white;
  width: 88%;
  border-radius: 0;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail img {
  width: 130px;
  height: 130px;
}

.label-category .image {
  width: 180px;
  margin-right: 5px;
  height: 160px;
  font-size: 13px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.label-category .image img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.label {
  position: relative;
  background-color: #0087cf;
  border-radius: 0;
  padding-top: 0.1px;
  padding-bottom: 0.5px;
  padding-left: 7px;
  padding-right: 12px;
  margin-right: 5px;
  margin-left: 2px;
  margin-bottom: 5px;
  font-size: 11px;
  text-shadow: none;
  float: left;
}
.label a {
  color: white;
}

.label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 10px 10px 0;
  border-style: solid;
  border-color: white white #68bbe7 #68bbe7;
  background: #68bbe7;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  width: 0;
}

.view-image .label {
  float: none;
}

/* ======== view_image page ========= */
.heading {
  font-size: 20px;
  margin-bottom: 20px;
}
.heading.note {
  margin-top: 30px;
  margin-bottom: -20px;
}

.image-display {
  background-color: white;
  text-align: center;
  border: 1px solid #c0bcb4;
  padding-bottom: 0px;
  margin-bottom: 30px;
}
.image-display img {
  max-height: 600px;
}

/* ======== forms (in view_image, gellery, form, delete, create_label pages)========= */
.form-box {
  padding: 10px;
}
.form-box .btn-danger {
  margin-bottom: 30px;
}
.form-box .form-header {
  text-transform: uppercase;
}

.form-horizontal .controls {
  margin-left: 0px;
  float: right;
}
.form-horizontal .control-label {
  text-align: left;
}
.form-horizontal .control-label .help-required {
  right: auto;
}

.select2-container {
  min-width: 120px;
}

form {
  margin: 0px;
}

.form-actions {
  margin: -20px;
  margin-top: 20px;
  padding: 0px;
  background: transparent;
}
.form-actions a.btn {
  margin-top: 10px;
  margin-left: -150px;
}
.form-actions button {
  float: right;
  margin: 10px;
}

.form-submit {
  position: relative;
  bottom: 0;
}

.form-title {
  font-size: 15px;
  font-weight: bold;
  color: #999999;
}

input[type="file"] {
  background-color: white;
}

.form-actions {
  margin: 0;
}

.delete {
  position: relative;
  right: 0;
  display: none;
  font-size: 18px;
  color: red;
  background-color: black;
  padding: 0;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  left: 15px;
  top: 8px;
}
.delete a {
  color: red;
}
.delete a:hover {
  text-decoration: none;
}

.delete-box, .create-box, .upload-box {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 430px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.delete-box .cancel, .create-box .cancel, .upload-box .cancel {
  margin-top: 10px;
  margin-left: -150px;
}

.delete-box hr {
  margin: 8px 0 10px 0;
  border-top-color: #eed3d7;
}
.delete-box p {
  font-size: 13px;
  color: #333333;
}
.delete-box .form-title, .delete-box #warning {
  color: #b94a48;
}

.upload-box label {
  padding-left: 20px;
}
.upload-box .form-horizontal .controls {
  margin-top: 3px;
  float: right;
}
.upload-box .form-horizontal label {
  width: 100%;
  margin-left: -15px;
}
.upload-box .form-horizontal span.help-required {
  float: left;
}
.upload-box .form-horizontal .control-label .help-required {
  right: auto;
}

.label-adjust {
  display: none;
}

#root #root_footer {
  height: 0px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url('../img/logo@2x.png?1370506999');
    -webkit-background-size: 150px 75px;
  }
}
@media screen and (max-width: 767px) {
  .cancel {
    float: right;
  }

  .gallery ul {
    margin-left: 0;
  }
  .gallery ul.list li {
    margin-left: 0;
    width: 100%;
  }

  .albumpage {
    margin-bottom: 50px;
  }
  .albumpage .span6, .albumpage .span10, .albumpage .span4 {
    width: 100%;
    margin-left: 0px;
  }

  .span3.push-left {
    padding-top: 30px;
  }

  .form-box.well {
    margin-top: 20px;
  }

  .photostream-profile .profile-image {
    margin: 10px;
    margin-top: -30px;
  }

  .side-tab .span3 {
    position: fixed;
    margin-top: -5px;
    height: 10px;
    width: auto;
    display: block;
    clear: both;
    padding-top: 10px;
    padding-bottom: 23px;
    z-index: 9999;
    background-color: white;
    border-bottom: 1px solid #0087cf;
  }
  .side-tab .span3 .tabs-left .nav-tabs > li, .side-tab .span3 .tabs-right .nav-tabs > li {
    float: left;
  }
  .side-tab .span3 .tabs-left .nav-tabs > li a, .side-tab .span3 .tabs-right .nav-tabs > li a {
    border-radius: 0;
  }
  .side-tab .span3 .nav-tabs > li {
    margin: 0;
  }

  .span9.popup {
    clear: both;
    margin-top: 50px;
    float: left;
  }
  .span9.popup .span9.tabbable {
    margin-left: 0;
    width: 100%;
  }

  .modal {
    width: 420px;
    margin-left: -200px;
  }

  .modal-body iframe {
    width: 388px;
    height: 380px;
  }

  .gallery ul.list section.top {
    display: none;
  }
  .gallery ul.list .left {
    clear: both;
    float: right;
  }
  .gallery ul.list .left .image-thumb {
    margin-left: 5px;
  }
  .gallery ul.list .right {
    clear: both;
    float: left;
  }
  .gallery ul.list .span8 {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    width: auto;
  }
  .gallery ul.list .span8 .title {
    margin-top: -40px;
    margin-left: 10px;
  }
  .gallery ul.list .span8 .span2, .gallery ul.list .span8 .span3 {
    clear: both;
  }
  .gallery ul.list .span8 .date {
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #999999;
  }
  .gallery ul.list .label-adjust {
    display: block;
  }

  .show-label .btn-danger {
    margin-bottom: 5px;
  }

  .browse-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .popup .span9, .popup .span6 {
    width: auto;
  }
  .popup .form-box .icon-group-popup .icon-2x {
    font-size: 15px;
    padding: 1px;
  }
  .popup .form-box .icon-group-popup .icon-cloud-upload {
    font-size: 60px;
  }
  .popup .form-box .icon-group-popup .icon-desktop {
    font-size: 50px;
  }
  .popup .form-box .icon-group-popup .icon-link {
    font-size: 60px;
  }

  .side-tab .span3 {
    width: 100%;
    margin-left: 0;
  }

  .preview-box {
    display: none;
  }

  span.hide-mobile {
    display: none;
  }
}
@media screen and (max-width: 542px) {
  .profile-image {
    display: none;
  }
}
@media screen and (max-width: 510px) {
  .topbar-options {
    margin-bottom: 5px;
  }
  .topbar-options li span {
    display: none;
  }
  .topbar-options li i {
    font-size: 20px;
  }
  .topbar-options li a {
    margin-right: 0px;
    color: #999999;
  }

  .side-tab .span3 {
    padding-bottom: 30px;
    height: 19px;
    margin-top: -5px;
    padding-top: 5px;
  }
  .side-tab .span3 .tabs-left .nav-tabs > li a, .side-tab .span3 .tabs-right .nav-tabs > li a {
    min-width: 38px;
  }
  .side-tab .span3 .tabs-left .nav-tabs > li a i, .side-tab .span3 .tabs-right .nav-tabs > li a i {
    font-size: 30px;
  }
  .side-tab .span3 .tabs-left .nav-tabs > li span, .side-tab .span3 .tabs-right .nav-tabs > li span {
    display: none;
  }

  .modal {
    width: 340px;
    margin-left: -170px;
  }

  .modal-body iframe {
    width: 308px;
    height: 380px;
  }
}
@media (max-width: 480px) {
  .modal {
    width: 280px;
    margin-left: 30px;
    margin-top: -600px;
    position: absolute;
    top: 5px;
  }

  .modal-body iframe {
    width: 250px;
    height: 380px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .span9.tabbable {
    margin-left: 187px;
  }

  #preview-box {
    margin-left: 400px;
  }

  .modal {
    width: 730px;
    margin-left: -375px;
  }

  .modal-body iframe {
    width: 700px;
    height: 380px;
  }

  ul.list .date {
    font-size: 11px;
    color: #999999;
  }

  span#delete {
    display: none;
  }

  .gallery .span8 {
    margin-left: 60px;
    margin-top: -40px;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .span9.tabbable {
    margin-left: 220px;
  }

  #preview-box {
    margin-left: 530px;
  }

  .modal {
    width: 805px;
    margin-left: -400px;
  }

  .modal-body iframe {
    width: 768px;
    height: 410px;
  }

  .gallery .span8 {
    margin-left: 60px;
    margin-top: -40px;
  }

  .browse-img {
    height: 120px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 1050px;
    margin-left: -530px;
  }
}
@media (max-width: 767px) {
  .main-content.push-right {
    float: none;
  }
}
