{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform, ajaxform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block maincontent %}
  <div class="mui-panel">
    <p class="mui--text-title mui--text-bold">{{ faicon('tag', 'fa5-icon--subhead fa5--align-baseline') }}&nbsp;&nbsp;Create label</p>
    {% set cancel_url=url_for('profile_view', profile=profile.name) %}
    {{ renderform(form, "Create", cancel_url=cancel_url)}}
  </div>
{% endblock %}`
