{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform, ajaxform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block maincontent %}
  <div class="mui-panel">
    <p class="mui--text-title mui--text-bold">{{ faicon(icon='tag', icon_size='subhead', baseline=true, css_class='fa-icon--margin') }}{% trans %}Create label{% endtrans %}</p>
    {% set cancel_url=profile.url_for() %}
    {{ renderform(form, "Create", cancel_url=cancel_url)}}
  </div>
{% endblock %}`
