{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}

{% block basecontent %}
  {% block sidebar %}
  {% endblock %}
  {% block maincontent %}
  {% endblock %}
  <div class="alert alert--error">
    <p class="mui--text-title">{% assets "fa5-sprite" %}<svg class="fa5-icon fa5--align-baseline fa5-icon--subhead " aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#trash-alt"></use></svg>{% endassets %} Confirm delete</p><hr/>
    <p class="mui--text-subhead">Are you sure you want to delete "<strong>{{file.title}}</strong>"?</p>
    <p id="warning">
      {% assets "fa5-sprite" %}<svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#info-circle"></use></svg>{% endassets %}&nbsp;<strong>Warning: If you delete it, you will lose all the links wherever this image appears.</strong>
    </p>
    <img src="{{url_for('get_image', image=file.name, size=config.get('THUMBNAIL_SIZE'))}}"/>
    {% set cancel_url=url_for('view_image', profile=profile.name, image=file.name) %}
    {% set action_url=url_for('delete_file', profile=profile.name, image=file.name) %}
    <div class="form-submit">{{ renderform(form, "delete", "Yes, delete it", action=action_url, cancel_url=cancel_url)}}</div>
  </div>
{% endblock %}
