{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block basecontent %}
  {% block sidebar %}
  {% endblock %}
  {% block maincontent %}
  {% endblock %}
  <div class="alert alert--error">
    <p class="mui--text-title">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=true) }} Confirm delete</p><hr/>
    <p class="mui--text-subhead">Are you sure you want to delete "<strong>{{file.title}}</strong>"?</p>
    <p id="warning">
      {{ faicon(icon='info-circle', baseline=true) }}&nbsp;<strong>Warning: If you delete it, you will lose all the links wherever this image appears.</strong>
    </p>
    <img src="{{url_for('get_image', image=file.name, size=config.get('THUMBNAIL_SIZE'))}}"/>
    {% set cancel_url=url_for('view_image', profile=profile.name, image=file.name) %}
    {% set action_url=url_for('delete_file', profile=profile.name, image=file.name) %}
    <div class="form-submit">{{ renderform(form, "delete", "Yes, delete it", action=action_url, cancel_url=cancel_url)}}</div>
  </div>
{% endblock %}
