{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}
{% block title %}New image{% endblock %}

{% block maincontent %}
	<div class="well">
		<h5><i class="icon-cloud-upload"></i>&nbsp;&nbsp;Upload Image</h5><hr />
		{{ renderform(form, "upload", multipart=True) }}
	</div>
{% endblock %}
