{% extends "layout.html.jinja2" %}

{% block basecontent %}
  <div class="grid page-content">
    <div class="grid__col-xs-12 grid__col-sm-6">
      <div class="">
        <img class="banner mui--pull-right" src="{{ url_for('static', filename='img/index-img1.png') }}">
      </div>
    </div>
    <div class="grid__col-xs-12 grid__col-sm-6">
      <div>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
      </div>
      <div>
        <p class="mui--text-title">{% trans %}Hasgeek’s image library{% endtrans %}</p><hr />
        {% if current_auth.user %}
          <p class="mui--text-subhead">{% trans user=current_auth.user.fullname %}Welcome <strong>{{ user }}!</strong>{% endtrans %}</p>
          <a href="{{ url_for('account') }}" class="mui-btn mui-btn--primary mui-btn--raised">{% trans %}View your images{% endtrans %}</a></h4>
        {% else %}
          <a href="{{ url_for('login') }}" class="mui-btn mui-btn--primary mui-btn--raised">{% trans %}Login / Sign up{% endtrans %}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
