{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block pageheaders %}
  {% assets "css_dropzone" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block bodytag %}<body class="imgee-popup">{% endblock %}

{% block header -%}
{%- endblock %}

{% block sidedrawer -%}
{%- endblock %}

{% block contenthead %}
{% endblock %}

{% block contentbox %}
  <div class="popup__imgee">
    <div class="popup__imgee__content">
      <div id="showcase" class="profile-grid profile-grid--popup">
        <p class="mui--text-subhead">{% trans %}Select an image{% endtrans %}</p>
        <ul class="gallery js-gallery mui-list--unstyled">
          <li class="gallery__image gallery__image--dropzone">
            <form action="{{ url_for('upload_file_json', profile=profile.name) }}" class="dropzone profile-dropzone" id="uploadimage" method="POST" enctype="multipart/form-data">
              {{ current_view.UploadImageForm().hidden_tag() }}
              <div class="dropzone__uploadicon">{{ faicon(icon='plus', icon_size='headline', baseline=true) }}</div>
            </form>
          </li>
        {% for img in files %}
          <li class="gallery__image gallery__image--popup image">
            <div class="gallery__image__thumb">
              <div class="gallery__image__thumb__wrapper">
                <div class="gallery__image__thumb js-img-thumb gallery__image__thumb--selected" data-url="{{ url_for('get_image', image=img.name, _external=True) }}">
                  <img src="{{ url_for('get_image', image=img.name) }}" class="gallery__image__thumb__img">
                  {{ faicon(icon='check-circle-solid', icon_size='subhead', baseline=false, css_class="gallery__image__thumb__icon mui--text-hyperlink") }}
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{%- endblock %}


{% block basefooter -%}
{%- endblock %}

{% block footerscripts %}
  {% assets "js_dropzone" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    window.Imgee.profile = {{ profile.name|tojson }};
    window.Imgee.spinnerFile = '{{ url_for('static', filename='img/spinner.gif') }}';
    window.Imgee.acceptedFile = {{ ','.join(mimetypes)|tojson }};
    window.Imgee.popup = true;
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/imgee-upload.js')}}"></script>
{% endblock %}
