{% extends "layout.html" %}
{% from 'baseframe/forms.html' import renderform %}

{% block footerscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.ba-postmessage.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.jeditable.min.js')}}"></script>
<script> var profile = '{{g.user.profile_name}}';</script>
<script type="text/javascript" src="{{url_for('static', filename='js/edit_in_place.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/list-grid.js') }}"></script>

<script>
function parseQuery(s){
    var s = s || window.location.search;
    var d = {};
    var a = s.replace('?', '').split('&');
    for (var i=0; i<a.length; i++){
        var x = a[i].split('=');
        d[x[0]] = x[1];
    }
    return d;
}

$('div.thumbnail').click(function (){
    var query_dict = parseQuery();
    var to = query_dict['from'] or '';
    to = decodeURIComponent(to);
    var img_id = $(this).attr('id');
    $.postMessage(img_id, to, window.opener);
    console.log('sent img_id '+ img_id + ' ' + to);
    window.close();
});

$('select#profiles').change(function(){
    var profile = $(this).children('option:selected').text();
    $(this).parents('form')
        .attr('action', function(i, a){
            var action = a.replace("PROFILE", profile);
            return action; })
        .children('input#from').val(window.location.search.replace('?from=', ''))
        .parents('form').submit();
});

</script>


{% endblock %}

{% block albumcontent %}

<div class="span8">
    <div class="row">
        <div class="list-grid-selector span8">
            <div class="btn-group">
                <a href="#" id="gridview" class="btn switcher active"><i class="icon-th-large"></i>&nbsp;&nbsp;Thumbnails</a>
                <a href="#" id="listview" class="btn switcher"><i class="icon-list"></i>&nbsp;&nbsp;Detailed view</a>
            </div>
        </div>
    </div>
    <div class="albumpage row">
        {% if files %}
            <div class="gallery span8">
                <ul id="showcase" class="grid">
                    {% for img in files %}
                        <li class="image">
                            <section class="left">
                                <div class="image-thumb">
                                    <a href="{{url_for('view_image', profile=g.user.profile_name, img_name=img.name)}}" title="view image">
                                        <img src="{{url_for('get_thumbnail', profile=g.user.profile_name, img_name=img.name)}}"/>
                                    </a>
                                </div>
                            </section>
                            <section class="right">
                                <div class="title editable_title" id="{{img.name}}">{{img.title}}</div>
                                <div class="labels">
                                    {% for label in img.labels %}
                                        <span class="label">
                                            <a href="{{url_for('show_label', profile_name=img.profile.name, label_name=label.name)}}">{{label.name}}</a>
                                        </span>
                                    {% endfor %}
                                </div>
                            </section>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            There are no images uploaded yet. <a href="{{url_for('upload_file', profile=g.user.profile_name)}}">Upload them.</a>
        {% endif %}
    </div>
</div>

{% endblock %}  

{% block sidebar %}
<div class="span4">
    <div class="form-box well">
        <div class="form-title"><i class="icon-user"></i>&nbsp;&nbsp;Go to Profile</div><hr />
        <form action="{{url_for('pop_up_gallery', profile='PROFILE')}}" id="change_profile" method="GET">
        {{ renderfield(cp_form.profiles)}}
        <input type="hidden" id="from" name="from"></input>
        <button type="submit" style="display:none;">Submit</button>
        </form>
    </div>
    <br/>
    <div class="form-box well">
        <div class="form-title"><i class="icon-upload-alt"></i>&nbsp;&nbsp;Upload Images</div><hr />
        {% set action_url= url_for('upload_file', profile=g.user.profile_name) %}
        {{ renderform(uploadform, "upload", multipart=True, action=action_url) }}
    </div>
</div>

{% endblock %}
