{% extends "layout.html" %}
{% from 'baseframe/forms.html' import renderform %}

{% block footerscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.ba-postmessage.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.jeditable.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/edit_in_place.js')}}"></script>
<script>
$('div.thumbnail').click(function (){
    var to = window.location.search.replace('?from=', '');
    var img_id = $(this).attr('id');
    $.postMessage(img_id, to, window.opener);
    console.log('sent img_id '+ img_id + ' ' + to);
    window.close();
});
</script>

{% endblock %}

{% block sidebar %}
<div style="display:none;">
<form id="back_to_client" method="GET" target="_top" action="{{next}}">
    <input type="text" name="img_id" value=""></input>
    <button type="submit"></button>
</form>
</div>

<div class="span8">
    <div class="albumpage">
        {% if files %}
            <div class="gallery row">
                {% for img in files %}
                    <div class="image">
                        <div class="thumbnail" id="{{img.name}}">
                            <img src="{{url_for('get_thumbnail', img_name=img.name)}}"/>
                        </div>
                        <div class="title editable_text" id="{{img.name}}">{{img.title}}</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            There are no images uploaded yet.
        {% endif %}
    </div>
</div>
{% endblock %}  

{% block albumcontent %}
<div class="span4">
    <br />
    <div class="form-header">Upload Images:</div>
    <br />
    {% set action_url= url_for('upload_file') %}
    <div class="form-box">
        {{ renderform(form, "Upload", multipart=True, action=action_url) }}
    </div>
</div>

{% endblock %}
