{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block pageheaders %}
  {% assets "css_dropzone" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block bodytag %}<body class="imgee-popup">{% endblock %}

{% block header -%}
{%- endblock %}

{% block sidedrawer -%}
{%- endblock %}

{% block contenthead %}
{% endblock %}

{% block contentbox %}
  <div class="popup__imgee">
    <div class="popup__imgee__content">
      <div id="showcase" class="profile-grid profile-grid--popup">
        <p class="mui--text-title">{% trans %}Select an image{% endtrans %}</p>
        <ul class="gallery js-gallery mui-list--unstyled">
          {% if profile.features.new_file() %}
          <li class="gallery__image gallery__image--dropzone">
            <form action="{{ url_for('upload_file_json', profile=profile.name) }}" class="dropzone profile-dropzone" id="uploadimage" method="POST" enctype="multipart/form-data">
              {{ current_view.UploadImageForm().hidden_tag() }}
              <p class="mui--text-subhead mui--text-center">{% trans %}Upload{% endtrans %}</p>
              <div class="dropzone__uploadicon">{{ faicon(icon='plus', icon_size='headline', baseline=true) }}</div>
            </form>
          </li>
          {% endif %}
          <p id="loadmore" class="loading"></p>
        </ul>
      </div>
    </div>
  </div>
{%- endblock %}


{% block basefooter -%}
{%- endblock %}

{% block footerscripts %}
  {% assets "js_dropzone" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    window.Imgee.profile = {{ profile.name|tojson }};
    window.Imgee.spinnerFile = '{{ url_for('static', filename='img/spinner.gif') }}';
    window.Imgee.acceptedFile = {{ ','.join(mimetypes)|tojson }};
    window.Imgee.paginateUrl = {{ profile.url_for('pop_up_files')|tojson }};
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/imgee.js')}}"></script>
{% endblock %}
