{% from "baseframe/components.html.jinja2" import faicon %}
<li class="gallery__image image">
  <div class="gallery__image__wrapper">
    <div class="gallery__image__wrapper__thumb js-img-thumb" data-url="{{ url_for('get_image', image=img.name, _external=True) }}">
      <img src="{{ url_for('get_image', image=img.name) }}" class="gallery__image__wrapper__thumb__img">
      <input type="radio" class="gallery__image__wrapper__thumb__icon" name="selected-image">
    </div>
  </div>
</li>
