{% extends "layout.html" %}
{% block title %}{{ profile.title }}{% endblock %}

{% block footerscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.jeditable.min.js')}}"></script>
<script> var profile = {{g.user.username}}; </script>
<script type="text/javascript" src="{{url_for('static', filename='js/edit_in_place.js')}}"></script>
{% endblock %}

{% block sidebar %}
<div class="span2">
    <div class="sidebar well">
      <div class="photostream-profile">
        <div class="profile-name">
          <a href="{{ url_for('show_profile', profile=g.user.username) }}">All images</a>
        </div>
      </div>

      <div class="options">
        <a class="btn btn-primary" href="{{url_for('upload_file',  profile=g.user.username)}}">Upload images</a>
        <a class="btn btn-primary" href="{{url_for('create_label')}}">New label</a>
      </div>

      <ul class="labels nav nav-list">
        <li class="nav-header">Labels</li>        
            {% if profile.labels %}
                {% for label in profile.labels |sort(attribute='name')%}
                    <li><a href="{{url_for('show_label', profile_name=profile_name, label_name=label.name)}}"><i class="icon-tag"></i>{{label.name}}</a></li>
                {% endfor %}
            {% else %}
                <li>No Labels yet. <a href="{{url_for('create_label')}}">&nbsp;Create new label</a></li>
            {% endif %}
      </ul>
    </div>
</div>
{% endblock %}  

{% block albumcontent %}
<div class="span10">
    <div class="albumpage well">
        {% if files %}
            <div class="gallery">
                <div class="row">
                {% for img in files %}
                    <div class="image">
                        <div class="thumbnail">
                            <a href="{{url_for('view_image', profile=g.user.username, img_name=img.name)}}" title="view image">
                                <img src="{{url_for('get_thumbnail', profile=g.user.username, img_name=img.name)}}"/>
                            </a>
                        </div>
                        <div class="title editable_text" id="{{img.name}}">{{img.title}}</div>
                        <div class="labels">
                            {% for label in img.labels %}
                                <span class="label">
                                    <a href="{{url_for('show_label',profile_name=img.profile.name, label_name=label.name)}}"><i class="icon-tag"></i>&nbsp;{{label.name}}</a>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% else %}
            There are no images uploaded yet. <a href="{{url_for('upload_file', profile=g.user.username)}}">Upload them.</a>
        {% endif %}
    </div>
</div>
{% endblock %}



