{% extends "layout.html" %}
{% from 'baseframe/forms.html' import renderform %}

{% block title %}{{ profile.title }}{% endblock %}

{% block maincontent %}
  <section class="profile">
    {{ title_form.hidden_tag() }}
    <div class="span9">
        <form action="{{ url_for('upload_file_json', profile=profile.name) }}" class="dropzone profile-dropzone row" id="uploadimage" method="POST" enctype="multipart/form-data">
          {{ uf_form.hidden_tag() }}
          <i class="icon-cloud-upload"></i>
          <h4>Drop files to upload<br /></h4>
            <p>(<em>or click here</em>)</p>        
        </form>
        <div id="uploaded-files" class="row">
          <div class="sample hidden">
            <div class="alert">
              <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
              <img class="thumb">
              <div class="aligner">
                <h4 class="heading"></h4>
                <div class="form"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
    </div>

    <div class="gallery">
      {% if files %}
        <div class="row">
          <div class="span7">
            <h4 class="selected-profile"><a href="{{ url_for('profile_view',profile=profile.name) }}">{{ profile.title }}</a>'s Gallery</h4>
            <em>
              {% if files|count == 1 %}
                1 image
              {% else %}
                {{ files | count }} images
              {% endif %}
            </em>
          </div>
          
          <div class="span2">
            <div class="list-grid-selector btn-group pull-right">
              <a href="#" id="gridview" class="btn switcher active"><i class="icon-th-large"></i><span class="hide-mob">&nbsp;Grid</span></a>
              <a href="#" id="listview" class="btn switcher"><i class="icon-list"></i><span class="hide-mob">&nbsp;List</span></a>
            </div>
          </div>
          <!-- POPUP DEMO -->
          <!--<div class="row">
            <a href="#myModal" role="button" class="btn span2" data-toggle="modal">Demo Popup</a>
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-body">
                <iframe src="{{ url_for('pop_up_gallery', profile=profile.name)}}" width="980px" height="405px"></iframe>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
          </div>-->
          <!-- /POPUP DEMO -->
        </div>
        <hr>
      {% endif %}
          
      {% if unlabelled %}
        {% if profile.labels %}
          <div class="heading note">Unlabeled-image Archive</div>
        {% else %}
          <div class="heading note">Archived Images</div>
        {% endif %}
        <br />
      {% endif %}

      <div class="row">
        <div class="span9">
          {% if files %}
            <div class="gallery" id="expandable3">
              <ul id="showcase" class="grid">
                <div id="row-ctrl">
                  <section class="top">
                    <div class="span1 top1">Image</div>
                    <div class="span3 top2">Title</div>
                    <div class="span2 top3">Uploaded at</div>
                    <div class="span1 top4">File size</div>
                    <div class="span2 top5">Image size</div>
                  </section>
                  <section class="thumbs">
                  {% for img in files %}
                    <li class="image">
                      <a href="{{url_for('view_image', profile=profile.name, image=img.name)}}" title="{{ img.title }}">
                        <section class="left">
                          <div class="image-thumb">    
                            <img src="{{url_for('get_image', image=img.name, size=config.get('THUMBNAIL_SIZE'))}}" style="margin-top:
                            {{ (75 - img.height * 75/img.width)/2 if img.width > img.height else 0 }}px"/>
                          </div>
                        </section>
                      </a>
                      
                      <section class="right span8">
                        <div class="row">   
                          <a href="{{url_for('view_image', profile=profile.name, image=img.name)}}" title="{{ img.title }}">
                            <div class="title editable_title span3 list2" id="{{img.name}}">{{img.title}}</div>
                            <div class="uploaded span2 date list3">{{ img.created_at.strftime('%B %d, %Y') }}</div>
                            <div class="filesize span1 date list4">{{ img.size | filesizeformat }}</div>
                            <div class="imgsize span2 date list5">{{ img.width }} x {{ img.height }} px</div>
                          </a>
                        </div>
                      </section> 
                    </li>
                  {% endfor %} 
                  </section> 
                </div><!-- /row-ctrl -->
              </ul><!-- showcase -->
            </div><!-- gallery-->
            <a href="#" id="more3" style="display: none"><i class="icon-caret-down"></i></a>
          {% else %}
            <div class="well">
              <div>
              {% if unlabelled %}
                Hurray! Not a single image is without a label.
              {% else %}
                There are no images uploaded yet. <a href="{{url_for('upload_file', profile=profile.name)}}">Upload them.</a>
              {% endif %}
              </div>
            </div>
          {% endif %}
        </div><!-- /span9 -->
      </div><!-- /row -->
    </div><!-- gallery -->
  </section><!-- /profile -->
{% endblock %}


{% block footerscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.jeditable.min.js')}}"></script>
<script> var profile = '{{profile.name}}'; </script>
<script type="text/javascript" src="{{url_for('static', filename='js/edit_in_place.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/list-grid.js') }}"></script>
<script type="text/javascript">
  $(function() {
    var uploaded = $('#uploaded-files');
    var sample_upload = uploaded.find('.sample').html();
    var thumbs = $('.gallery .thumbs');

    var add_thumb = function(thumb_data) {
      var thumb_sample = thumbs.find('li.image').first().html();
      if(!thumb_sample) location.reload();
      else {
        thumbs.prepend('<li class="image">' + thumb_sample + '</li>');
        var new_thumb = thumbs.find('li.image').first();
        new_thumb.find('a').attr('href', thumb_data.url);
        new_thumb.find('a').attr('title', thumb_data.title);
        new_thumb.find('.image-thumb img').load(function() {
          $(this).css({'margin-top': thumb_data.top_margin + 'px'})
        }).prop('src', thumb_data.thumb_url);
        new_thumb.find('.title').html(thumb_data.title);
        new_thumb.find('.uploaded').html(thumb_data.uploaded);
        new_thumb.find('.filesize').html(thumb_data.filesize);
        new_thumb.find('.imgsize').html(thumb_data.imgsize);
      }
    };
    var upload_form_submit = function(current, formdata) {
      current.find('.form').html(formdata);
      current.find('.form form').submit(function(){
        d = current.find('.form form').serializeArray();
        $.ajax({
          url: response.update_url,
          type: 'POST',
          data: d,
          dataType: 'json',
          success: function(data) {
            if(data.status) {
              current.slideUp(function() {
                $(this).remove();
                var success_alert = add_alert();
                success_alert.find('.heading').html(data.message);
                success_alert.addClass('alert-success');
                success_alert.slideDown();
                add_thumb(data.image_data);
              });
            }
            else {
              upload_form_submit(current, data.form);
            }
          }
        });
      });
    };
    var add_alert = function() {
      uploaded.append(sample_upload);
      return uploaded.find('.alert').last();
    };
    Dropzone.options.uploadimage = {
      paramName: "file",
      acceptedFiles: {{ ','.join(mimetypes)|tojson }},
      init: function() {
        this.on('complete', function(file) {
          response = $.parseJSON(file.xhr.response);
          var img = $(file.previewElement).find('img').first();
          var title = $(file.previewElement).find('.dz-filename>span').first().html();
          this.removeFile(file);
          var current = add_alert();
          img.load(function(){
            var src = $(this).attr('src');
            var thumb = current.find('.thumb');
            thumb.attr('src', src);
            if(src) {
              thumb.addClass('has-data');
            }
          });
          if(response.status) {
            current.find('.heading').html(response.message);
            upload_form_submit(current, response.form)
            current.addClass('alert-info');
            current.find('.close').click(function() {
              add_thumb(response.image_data);
            });
          }
          else {
            current.find('.heading').html("Error uploading " + title);
            current.find('.form').html(response.message);
            current.addClass('alert-error');
          }
          current.slideDown();
        });
      }
    };
  });
</script>
<script type="text/javascript">
  $(function(){
    $('.dropzone').css('min-height', '30px');
  });  
</script>

<script type="text/javascript">
  var gallerylimit = 321;
  var expheight = $('#expandable3').height(); 
  $('#more3').css('display', 'block');     
  
  if(expheight <= gallerylimit){
      $('#more3').hide();
      $('#expandable3').css('height', '100%');
  }else{
      $('#more3').show();
      $('#expandable3').css('height', gallerylimit);
  }
  
  $("#more3").click(function(){    
    var txtval = $(this).children("i").attr("class");
    if (txtval == "icon-caret-down") {
      $("#expandable3").css('height', '100%');
      $(this).children("i").attr("class", "icon-caret-up");
    } else {
      $("#expandable3").css('height', gallerylimit);
      $(this).children("i").attr("class", "icon-caret-down");
    }
    return false;
  });
</script>

{% endblock %}
