{% extends "layout.html" %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block content %}

<span style="float:right;">
    <a href="{{url_for('upload_file')}}">Upload images</a>
</span>
<div class="gallery">
{% for img in files %}
<div class="image">
    <span class="delete"><a href="{{url_for('delete_file', img_name=img.name)}}">X</a></span>
    <a href="{{img.url}}"><img src="{{img.thumbnail}}"/></a>
    <div class="title">{{img.title}}</div>
</div>
{% endfor %}
</div>
{% endblock %}

