{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block title %}{{ profile.title }}{% endblock %}

{% block pageheaders %}
  {% assets "css_dropzone" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block extendedsidebar %}
  {{ title_form.hidden_tag() }}
  <div class="card zero-bottom-margin">
    <div class="card__body no-padding">
      {% if current_auth.user %}
        <form action="{{ url_for('upload_file_json', profile=profile.name) }}" class="dropzone profile-dropzone" id="uploadimage" method="POST" enctype="multipart/form-data">
          {{ uf_form.hidden_tag() }}
          <div class="mui--text-center">{{ faicon(icon='upload', icon_size='headline', baseline=true, css_class='mui--text-light') }}</div>
          <p class="mui--text-title mui--text-bold mui--text-center zero-bottom-margin mui--text-light">Drop files to upload</p>
          <p class="mui--text-center mui--text-light">(<em>or click here</em>)</p>
        </form>
        <div id="uploaded-files" class="">
          <div class="sample mui--hide">
            <div class="alert alert--dismissable">
              <a class="alert__close" href="javascript:void(0);" aria-label="close">{{ faicon(icon='times', icon_size='subhead', baseline=false) }}</a>
              <div>
                <img class="thumb" src=""/>
                <p class="heading"></p>
                <div class="form"></div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block maincontent %}
  <section class="profile">
    {% if files %}
      <div class="mui--clearfix">
        <div class="mui--pull-left">
          <h4 class="mui--text-title zero-bottom-margin">{{ profile.title }}'s Gallery</h4>
          <p class="mui--text-caption zero-bottom-margin">
            {% if files|count == 1 %}
              <em>1 image</em>
            {% else %}
              <em>{{ files | count }} images</em>
            {% endif %}
          </p>
        </div>

        <div class="mui--pull-right">
          <div class="list-grid-selector">
            <a href="#" id="gridview" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark js-switch-layout active">{{ faicon(icon='th', baseline=true) }}<span class="mui--hidden-xs mui--hidden-sm">&nbsp;Grid</span></a>
            <a href="#" id="listview" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark js-switch-layout">{{ faicon(icon='list', baseline=true) }}<span class="mui--hidden-xs mui--hidden-sm">&nbsp;List</span></a>
          </div>
        </div>
      </div>
      <hr>
    {% endif %}

    {% if unlabelled %}
      {% if profile.labels %}
        <div class="heading note">Unlabeled-image Archive</div>
      {% else %}
        <div class="heading note">Archived Images</div>
      {% endif %}
    {% endif %}

    {% if files %}
      <div id="expandable3">
        <div id="showcase" class="profile-grid">
          <div class="list-header">
            <p class="mui--text-title list-header__item">Image</p>
            <p class="mui--text-title list-header__item">Title</p>
            <p class="mui--text-title list-header__item">Uploaded at</p>
            <p class="mui--text-title list-header__item">File size</p>
            <p class="mui--text-title list-header__item">Image size</p>
          </div>
          <div class="js-expandable-wrapper expandable">
            <ul class="gallery js-gallery mui-list--unstyled js-expandable expandable__content expandable__content--gallery">
            {% for img in files %}
              <li class="gallery__image">
                <div class="gallery__image__thumb">
                  <div class="gallery__image__thumb__wrapper">
                    <a class="gallery__image__thumb__wrapper__link" href="{{ url_for('view_image', profile=profile.name, image=img.name) }}" title="{{ img.title }}">
                      <img src="{{ url_for('get_image', image=img.name) }}" class="gallery__image__thumb__img">
                    </a>
                  </div>
                  <p class="gallery__image__thumb__details"><span class="editable_title" id="{{img.name}}">{{img.title}}</span></p>
                  <p class="gallery__image__thumb__details">{{ img.created_at.strftime('%B %d, %Y') }}</p>
                  <p class="gallery__image__thumb__details">{{ img.size | filesizeformat }}</p>
                  <p class="gallery__image__thumb__details">{{ img.width }} x {{ img.height }} px</div>
                </a>
              </li>
            {% endfor %}
            </ul>
            <a href="#" class="js-expandable-control mui--text-light no-hover expandable__control">
              <span class="js-collapsible-icon mui--text-body1">{{ faicon(icon='caret-circle-down', icon_size='caption', baseline=true) }} <span>Show more</span></span>
              <span class="js-collapsible-icon mui--hide mui--text-body1">{{ faicon(icon='caret-circle-up', icon_size='caption', baseline=true) }} <span>Hide</span>s</span>
            </a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="mui-panel">
        <p class="mui--text-subhead zero-bottom-margin">
        {% if unlabelled %}
          Hurray! Not a single image is without a label.
        {% else %}
          There are no images uploaded yet. <a href="{{url_for('upload_file', profile=profile.name)}}">Upload them.</a>
        {% endif %}
        </p>
      </div>
    {% endif %}
  </section>
{% endblock %}


{% block footerscripts %}
  {% assets "js_dropzone" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    window.Imgee.profile = {{ profile.name|tojson }};
    window.Imgee.spinnerFile = "{{ url_for('static', filename='img/spinner.gif') }}";
    window.Imgee.acceptedFile = {{ ','.join(mimetypes)|tojson }};
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/profile.js')}}"></script>
{% endblock %}
