{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block basecontent %}
  {% block sidebar %}
  {% endblock %}
  {% block maincontent %}
  {% endblock %}
  <div class="alert alert--error">
    <p class="mui--text-title">{{ faicon('trash-alt', 'fa5--align-baseline fa5-icon--subhead') }}&nbsp;&nbsp;Confirm purging cache</p>
    <hr />
    <p class="mui--text-subhead">Are you sure you want to delete all files which are NOT accessed in the last {{config.get('CACHE_PURGE_PERIOD', 24)}} hours?<br/></p>
    <div class="form-submit">{{ renderform(form, "delete", "Yes, Purge now")}}</div>
  </div>
{% endblock %}
