{% extends "layout.html.jinja2" %}
{% from 'baseframe/forms.html.jinja2' import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block basecontent %}
  {% block sidebar %}
  {% endblock %}
  {% block maincontent %}
  {% endblock %}
  <div class="alert alert--error">
    <p class="mui--text-title">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=true, css_class='fa-icon--margin') }}{% trans %}Confirm purging cache{% endtrans %}</p>
    <hr />
    <p class="mui--text-subhead">{% trans period=config.get('CACHE_PURGE_PERIOD', 24) %}Are you sure you want to delete all files which are NOT accessed in the last {{ period }} hours?{% trans %}<br/></p>
    <div class="form-submit">{{ renderform(form, "delete", "Yes, Purge now")}}</div>
  </div>
{% endblock %}
