{% extends "layout.html" %}

{% block footerscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.jeditable.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.history.js')}}"></script>
<script> var profile = '{{ profile.name }}';</script>
<script type="text/javascript" src="{{url_for('static', filename='js/edit_in_place.js')}}"></script>
{% endblock %}

{% block sidebar_labels %}
  <ul class="nav nav-list" id="expandable1">
    <li class="nav-header">Labels</li> 
    <!-- List labels -->
    {% if profile.labels %}
      {% for l in profile.labels |sort(attribute='name')%}
        <li><a class="{% if l.name == label.name %}active{% endif %}" href="{{url_for('show_label', profile=profile.name, label=l.name)}}"><i class="icon-tag"></i>{{l.name}}</a></li>
      {% endfor %}
    {% else %}
      <li>No Labels yet.</li>
    {% endif %}
    <!-- //List labels -->
  </ul><!-- /nav nav-list -->
  <a href="#" id="more1"><i class="icon-ellipsis-horizontal"></i></a>
  <ul class="nav nav-list">
    <!-- Unlabelled archive -->
    <li><a href="{{url_for('unlabelled_images', profile=profile.name)}}"><i class="icon-tag alt"></i>
    {% if profile.labels %}
      Unlabeled
    {% else %}
      Archive
    {% endif %}
    </a></li>
    <!-- //Unlabelled archive-->
  </ul>   
  <div id="hideThisFromNonJs" style="display:none">
    <!-- Create new label -->
    <a class="hide-mob" href="#labelModal" role="button" title="Upload image" class="" data-toggle="modal"><i class="icon-plus"></i>&nbsp;New label</a>
    {% if profile %}
      <div id="labelModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="labelModalLabel" aria-hidden="true">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Create Label</h3>
          </div>
          <div class="modal-body">
              <div class="create-box well">     
                  <form action="{{ url_for('create_label', profile=profile.name) }}" method="POST">
                    {{ renderform(cl_form) }}
                  </form> 
              </div>                        
          </div>
      </div>
    {%- endif %}
    <!-- //Create new label --> 
  </div>
  <noscript>
    <a class="" title="Create new label" href="{{url_for('create_label', profile=profile.name )}}"><i class="icon-plus"></i>&nbsp;&nbsp;Add label</a>
  </noscript>
  <a class="hide-desktop" title="Create new label" href="{{url_for('create_label', profile=g.user.profile_name )}}"><i class="icon-plus"></i>&nbsp;New label</a>
{% endblock %}


{% block maincontent %}
  <section class="show-label">
    <div class="row">
      {{form.hidden_tag()}}
      <div class="span7">
        <div class="heading">Images with label "<span class="editable_label" id="{{label.id}}">{{label.name}}</span>"</div>
      </div>
      <div class="span2">
        <a class="btn btn-danger pull-right" href="{{url_for('delete_label', profile=profile.name ,label=label.name)}}" title='Delete label "{{label.name}}"'><i class="icon-trash"></i>&nbsp;<span id="delete">Delete Label</span></a>
      </div>
    </div>        
    <div class="gallery well">
      {%if not files %}
        <div class="span9">
            There are no images with label "{{label.name}}" yet.
            <div class="padding"></div>
        </div>
      {% else %}
      <div class="row">
        <div class="gallery label-category span9">
          {% for img in files %}
            <div class="image">
              <a href="{{url_for('view_image', profile=profile.name, image=img.name)}}">
                <img src="{{url_for('get_thumbnail', profile=profile.name, image=img.name)}}"/>
              </a>
              <div class="label-title">{{img.title}}</div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </section>
{% endblock %}