{% extends "layout.html.jinja2" %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block maincontent %}
  <section class="show-label">
    <div class="mui--clearfix">
      <div class="mui--pull-left"><span class="editable_label mui--d-inlineblock" id="{{label.id}}">{{label.name}}</span></div>
      {% if current_auth.user %}
        <a class="mui-btn mui-btn--small mui-btn--danger mui--pull-right" href="{{url_for('delete_label', profile=profile.name ,label=label.name)}}" title='Delete label "{{label.name}}"'>{{ faicon(icon='trash-alt', baseline=true) }}&nbsp;<span id="delete">{% trans %}Delete label{% endtrans %}</span></a>
        {% endif %}
    </div>

    <div class="mui-panel top-margin">
      {% if not files %}
        <p class="mui-text--title">{% trans label=label.name %}There are no images with label "{{ label }}" yet.{% endtrans %}</p>
      {% else %}
      <div class="row">
        <div class="gallery js-gallery label-category">
          {% for img in files %}
            <div class="gallery__image">
              <div class="gallery__image__thumb">
                <div class="gallery__image__thumb__wrapper">
                  <a class="gallery__image__thumb" href="{{url_for('view_image', profile=profile.name, image=img.name)}}" title="{{ img.title }}">
                    <img src="{{ url_for('get_image', image=img.name) }}" class="gallery__image__thumb__img"/>
                  </a>
                </div>
                <p class="mui--text-caption mui--text-center gallery__image__thumb__wrapper__filename">{{img.title}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    window.Imgee.profile = {{ profile.name|tojson }};
  </script>
{% endblock %}
