{% extends "layout.html.jinja2" %}

{% block maincontent %}
  <section class="show-label">
    <div class="mui--clearfix">
      <div class="mui--pull-left"><span class="mui-text--title">Images with label</span> <span class="editable_label mui--d-inlineblock" id="{{label.id}}">{{label.name}}</span></div>
      {% if g.user %}
        <a class="mui-btn mui-btn--small mui-btn--danger mui--pull-right" href="{{url_for('delete_label', profile=profile.name ,label=label.name)}}" title='Delete label "{{label.name}}"'>{% assets "fa5-sprite" %}<svg class="fa5-icon fa5--align-baselin" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#trash-alt"></use></svg>{% endassets %}&nbsp;<span id="delete">Delete Label</span></a>
        {% endif %}
    </div>

    <div class="mui-panel top-margin">
      {%if not files %}
        <p class="mui-text--title">There are no images with label "{{label.name}}" yet.</p>
      {% else %}
      <div class="row">
        <div class="gallery label-category">
          {% for img in files %}
            <div class="gallery__image">
              <div class="gallery__image__thumb">
                <div class="gallery__image__thumb__wrapper">
                  <a class="gallery__image__thumb" href="{{url_for('view_image', profile=profile.name, image=img.name)}}" title="{{ img.title }}">
                    <img src="{{url_for('get_image', image=img.name, size=config.get('THUMBNAIL_SIZE'))}}"/>
                  </a>
                </div>
                <p class="mui--text-caption mui--text-center">{{img.title}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    window.Imgee.profile = {{ profile.name|tojson }};
  </script>
{% endblock %}
