.imgee-popup {
  background: transparent;
  #uploaded-files {
    display: none;
  }
}
.profile-grid.profile-grid--popup {
  .list-header {
    display: none;
  }
  .gallery {
    .gallery__image--popup {
      min-width: 100px;
      padding: 0;
      align-self: center;
      position: relative;
      overflow: hidden;
      .gallery__image__thumb {
        padding: 2px;
        .gallery__image__thumb__icon {
          display: none;
          position: absolute;
          top: 8px;
          left: 8px;
        }
      }
    }
    .gallery__image--highlight {
      .gallery__image__thumb.gallery__image__thumb--selected .gallery__image__thumb__icon {
        display: block;
      }
    }
    .gallery__image--dropzone {
      align-self: center;
      padding: 0;
      .dropzone {
        width: calc(100% - 4px);
        min-height: 85px;
        height: calc(100% - 4px);
        position: relative;
        padding: 2px;
        margin: 4px 0 0 2px;
        .dropzone__uploadicon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .dz-preview.dz-image-preview {
          margin: 0;
          min-height: 100%;
          padding: 0;
          border-radius: 0;
          border: none;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .dz-image {
            width: 100%;
            height: 100%;
            border-radius: 0;
            object-fit: cover;
          }
        }
      }
    }
  }
}
