.view-image
	.heading
		margin-bottom: 5px
	.editable_title
		form
			padding-bottom: 40px
			button
				margin-top: 3px
.img-attr
	color: #999999
	font-size: 12px
	em
		color: #666666
	ul
		margin-left: 5px
		li
			list-style-type: none