@import "compass"
@import "sidebar"
@import "profile"
@import "view-image"
@import "show-label"
@import "popup"

/* ======== General ========= */
.logo
  margin-top: 25px
#logo
  @include replace-text-with-dimensions('logo.png')

.well
  hr
    margin: 8px 0 8px 0
.date
  font-size: 11px
  color: #999

/* ======== sidebar ========= */

.sidebar
  .nav-list
    li
      text-shadow: none
    a
      text-shadow: none
  .btn
    width: 83%
    margin-bottom: 10px
  .options
    text-align: left
.icon-tag.alt
  opacity: 0.1

/* ======== index page ========= */
.index
  margin-top: 60px
.index-img
  padding-right: 60px
  opacity: 0.5
  width: 60%


/* ======== profile, pop_up_gallery, show_label pages ========= */
.albumpage
  border: 0px solid #ECECEC
  padding-top: 20px




/* ======== view_image page ========= */

.resize
  input, textarea
    width: 100px
    display: inline-block
    margin-right: 5px
  label
    float: left
    margin-top: 8px
    width: 50px
  #img_link
    margin-bottom: 5px
    margin-top: 5px

.sidebar
  .browse-img > h4
    margin-bottom: 10px
    margin-top: 5px
  .image-thumb
    float: left
    margin-bottom: 30px
    .active
      border: 5px solid #F0A40C
      margin-top: -2.5px
    img
      width: 47px
      height: 47px
      display: block
      box-shadow: 1px 1px 2px #ccc
      margin: 2.5px


/* ======== popup_gallery page ========= */
.popup
  margin-top: 0
  .form-box
    margin-left: auto
    margin-right: auto
    text-align: center
    padding: 0
    .icon-group-popup
      display: block
      padding-top: 50px
      padding-bottom: 5px
      color: #ccc
      .icon-cloud-upload
        font-size: 100px
      .icon-desktop
        font-size: 85px
      .icon-link
        font-size: 100px
    input
      margin-top: 50px
      position: relative
    .form-title
      border-bottom: 1px solid #e5e5e5
      padding: 10px
      margin: 0

  .form-horizontal 
    .controls
      float: none
    .control-label
      float: none
      padding-top: 1px
  label
    display: none
.delete-btn, .select-img, .zoom-btn
  display: none
  float: left

.select-options
  position: relative
  a:hover
    text-decoration: none

.span9.tabbable
  float: left
  position: relative
  margin-left: 300px

.side-tab .span3
  position: fixed
  margin-top: 3px

#preview-box
  position: fixed
  margin-left: 600px
  margin-top: 3px

.tabs-left .nav-tabs
  border-right: 1px solid #DDDDDD
  float: left
  height: 500px



.tab-pane .list-grid-selector
  margin-bottom: 10px
  margin-top: 10px
.view-all
  margin-top: 15px
  border-bottom: #0087cf 1px solid
  font-size: 13px
  margin-right: 50px 
  &:hover
    text-decoration: none
    border-color: #005580
    i
      background-color: #005580

  i
    color: #fff
    background-color: #0088CC
    padding-left: 6px
    padding-right: 6px
    padding-top: 4px
    padding-bottom: 2px
    font-size: 18px

.popup-gallery
  li.image
    .image-thumb > img
      box-shadow: 1px 1px 2px #ccc

  ul.grid
    list-style: none
    .select-options
      height: 20px
      .delete-btn, .zoom-btn
        float: left
        margin-top: -20px
      .delete-btn
        float: right
      .select-img
        margin-top: -80px
        margin-left: 5px

    section.top
      display: none
    
    li
      position: relative
      float: left
      margin-right: 5px
      border-bottom: 0px
      padding-bottom: 0px
      padding-top: 0px
      padding: 15px
      margin-top: 5px
      border: 1px solid #fff
      border-radius: 5px
      button
        padding-left: 31px
        padding-right: 32px
        padding-top: 10px
        padding-bottom: 10px
      img
        border: 5px solid #fff

      &:hover
        background-color: #f5f5f5
        border-color: #ccc
        img
          border-color: #F0A40C
          padding-right: 0
  ul.list
    list-style: none
    .select-options
      height: 10px
      &:hover
        margin-bottom: -20px
      .delete-btn, .zoom-btn
        float: left
        margin-top: -20px
        margin-left: 110px
        margin-top: -60px
      .delete-btn
        float: left
        margin-top: -40px
      .select-img
        margin-top: -37px
        margin-left: 40px
        float: left
    section.top
      display: block
      margin-bottom: 25px
      margin-left: 12px

    li
      display: block
      clear: both
      border-top: 1px solid #e5e5e5
      margin-left: -30px
      padding-top: 6px
      width: 100%
      float: left

      &:last-child
        border-bottom: 1px solid #E5E5E5
      &:hover
        background-color: #f5f5f5
        padding-bottom: 0
      .span1
        margin-left: -10px

      section.left
        display: block
        float: left
        margin-left: 10px
        position: relative
        img
          width: 35px
          height: 35px
      section.right
        display: block
        float: left
        text-align: left
        position: relative
        margin-left: 100px

.title
  font-size: 13px
  text-align: left
  margin-bottom: 10px
  margin-top: 0px

.editable_title
  padding: 5px
  padding-bottom: 8px
  &:hover
    background-color: #FFF7E8
  form
    height: 20px
    z-index: 999
    padding-bottom: 5px
    input
      background-color: #FFF7E8
      border: 0
      box-shadow: none
      width: 120px
      height: 150px
    button
      margin-top: -10px
      margin-left: 5px
.editable_label
  &:hover
    background-color: #FFF7E8

.span5 
  .editable_title
    form
      padding-bottom: 50px
      button
        margin-top: 3px

.thumbnail
  background-color: #FFF
  width: 88%
  border-radius: 0
  height: auto
  margin-right: auto
  margin-left: auto
  img
    width: 130px
    height: 130px

.label-category
  .image
    width: 180px
    margin-right: 5px
    height: 160px
    font-size: 13px
    float: left
    text-overflow: ellipsis
    overflow: hidden
    img
      margin-left: auto
      margin-right: auto
      width: 100px

.label
  position: relative
  background-color: #0087cf
  border-radius: 0
  padding-top: 0.1px
  padding-bottom: 0.5px
  padding-left: 7px
  padding-right: 12px
  margin-right: 5px
  margin-left: 2px
  margin-bottom: 5px
  font-size: 11px
  text-shadow: none
  float: left
  a
    color: #fff
.label:after
  content: ""
  position: absolute
  top: 0
  right: 0
  border-width: 0 10px 10px 0
  border-style: solid
  border-color: #fff #fff #68BBE7 #68BBE7
  background: #68BBE7
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
  box-shadow: 0 1px 0 rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
  display: block
  width: 0
.view-image
  .label
    float: none

/* ======== view_image page ========= */
.heading
  font-size: 20px
  margin-bottom: 20px
  &.note
    margin-top: 30px
    margin-bottom: -20px

.image-display
  background-color: #fff
  text-align: center
  border: 1px solid #C0BCB4
  padding-bottom: 0px
  margin-bottom: 30px
  img
    max-height: 600px

/* ======== forms (in view_image, gellery, form, delete, create_label pages)========= */
.form-box
  padding: 10px
  .btn-danger
    margin-bottom: 30px
  .form-header
    text-transform: uppercase
.form-horizontal
  .controls
    margin-left: 0px
    float: right
  .control-label
    text-align: left
    .help-required
      right: auto
.select2-container
  min-width: 120px
form
  margin: 0px



.form-actions
  margin: -20px
  margin-top: 20px
  padding: 0px
  background: transparent
  a.btn
    margin-top: 10px
    margin-left: -150px
  button
    float: right
    margin: 10px

.form-submit
  position: relative
  bottom: 0

.form-title
  font-size: 15px
  font-weight: bold
  color: #999
input[type="file"]
  background-color: #FFF
.form-actions
  margin: 0

.delete
  position: relative
  right: 0
  display: none
  font-size: 18px
  color: red
  background-color: #000
  padding: 0
  padding-left: 7px
  padding-right: 7px
  position: relative
  left: 15px
  top: 8px
  a
    color: red
  a:hover
    text-decoration: none

.delete-box, .create-box, .upload-box
  margin-left: auto
  margin-right: auto
  display: block
  width: 430px
  padding-left: 10px
  padding-right: 10px
  padding-bottom: 10px
  border-radius: 5px
  .cancel
    margin-top: 10px
    margin-left: -150px

.delete-box
  hr
    margin: 8px 0 10px 0
    border-top-color: #EED3D7
  p
    font-size: 13px
    color: #333
  .form-title, #warning
    color: #B94A48

.upload-box
  label
    padding-left: 20px
  .form-horizontal 
    .controls
      margin-top: 3px
      float: right
    label
      width: 100%
      margin-left: -15px
    span.help-required
      float: left
    .control-label 
      .help-required
        right: auto
.label-adjust
  display: none
 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
  #logo
    background-image: image-url('logo@2x.png')
    -webkit-background-size: image-width('logo.png') image-height('logo.png')

@media screen and (max-width: 767px)

  .cancel
    float: right
  .gallery
    ul
      margin-left: 0
    ul.list li 
      margin-left: 0
      width: 100%


  .albumpage
    margin-bottom: 50px
    .span6, .span10, .span4
      width: 100%
      margin-left: 0px
  .sidebar
    .btn
      width: auto
  .form-box.well
    margin-top: 20px
  .photostream-profile
    .profile-image
      margin: 10px
      margin-top: -30px
  .side-tab .span3
    position: fixed
    margin-top: -5px
    height: 10px
    width: auto
    display: block
    clear: both
    padding-top: 10px
    padding-bottom: 23px
    z-index: 9999
    background-color: #fff
    border-bottom: 1px solid #0087cf


    .tabs-left .nav-tabs > li, .tabs-right .nav-tabs > li
      float: left
      a
        border-radius: 0
    .nav-tabs > li
      margin: 0
  .span9.popup
    clear: both
    margin-top: 50px
    float: left
    .span9.tabbable
      margin-left: 0
      width: 100%
  .modal
    width: 420px
    margin-left: -200px

  .modal-body
    iframe
      width: 388px
      height: 380px
  .gallery
    ul.grid
      .view-all
        clear: both
        float: left
    ul.list
      section.top
        display: none
      .view-all
        margin-right: 0px
      .left
        clear: both
        float: right
        .image-thumb
          margin-left: 5px
      .right
        clear: both
        float: left
      .span9
        margin-left: -10px
        margin-top: 0px
        width: auto
        .title
          margin-top: -40px
          margin-left: 10px
        .span2, .span3
          clear: both
        .date
          font-size: 11px
          margin-bottom: 10px
          margin-left: 15px
          color: #999
        .labels
          margin-left: 10px
      .span5
        margin-left: -10px
        margin-top: 0px
        width: auto
        .title
          margin-top: -40px
          margin-left: 10px
        .span2, .span3
          clear: both        
        .labels
          margin-left: 10px

        .label 
          margin-bottom: 5px
          margin-top: 0px
          display: inline-block

      .label-adjust
        display: block
  .show-label
    .btn-danger
      margin-bottom: 5px
  .browse-img
    display: block
    margin-left: auto
    margin-right: auto
  .popup
    .span9, .span6
      width: auto

    .form-box
      .icon-group-popup
        .icon-2x
          font-size: 15px
          padding: 1px
        .icon-cloud-upload
          font-size: 60px
        .icon-desktop
          font-size: 50px
        .icon-link
          font-size: 60px
  .side-tab
    .span3
      width: 100%
      margin-left: 0
  .preview-box
    display: none
  span.hide-mobile
    display: none



@media screen and (max-width: 542px)
  .profile-image
    display: none
@media screen and (max-width: 510px)
  .topbar-options
    margin-bottom: 5px
    li
      span
        display: none
      i
        font-size: 20px
      a
        margin-right: 0px
        color: #999999
  .side-tab
    .span3
      padding-bottom: 30px
      height: 19px
      margin-top: -5px
      padding-top: 5px
      .tabs-left .nav-tabs > li, .tabs-right .nav-tabs > li
        a
          min-width: 38px
          i
            font-size: 30px
        span
          display: none

  .modal
    width: 340px
    margin-left: -170px

  .modal-body
    iframe
      width: 308px
      height: 380px

@media (max-width: 480px)
  .modal
    width: 280px
    margin-left: 30px
    margin-top: -600px
    position: absolute
    top: 5px

  .modal-body
    iframe
      width: 250px
      height: 380px
  
@media (min-width: 768px) and (max-width: 979px)

  .topbar-btn
    font-size: 11px
    i
      display: none
  .photostream-profile
    .profile-name > a
      font-size: 14px
  .span9.tabbable
    margin-left: 187px
  #preview-box
    margin-left: 400px
  .modal
    width: 730px
    margin-left: -375px
  .modal-body
    iframe
      width: 700px
      height: 380px
  ul.grid
    .view-all
      margin-top: 73px
      margin-right: 42px
  ul.list
    .date
      font-size: 11px
      color: #999
  span#delete
    display: none
  .gallery
    .span9
      margin-left: 60px
      margin-top: -40px
    .span5
      margin-left: 50px
      margin-top: -40px
      .label 
        margin-bottom: 2px
      .label-adjust
        display: block

@media (min-width: 980px) and (max-width: 1200px)
  .span9.tabbable
    margin-left: 220px
  #preview-box
    margin-left: 530px
  .modal
    width: 805px
    margin-left: -400px
  .modal-body
    iframe
      width: 768px
      height: 400px
  .gallery
    .list
      .view-all
        margin-right: 0px
    .grid
      .view-all
        margin-top: 73px
        margin-right: 45px
  .gallery
    .span9
      margin-left: 60px
      margin-top: -40px
    .span5
      margin-left: 63px
      margin-top: -40px
  .browse-img
    height: 120px
    overflow: hidden
      

@media (min-width: 1200px)
  .modal
    width: 1050px
    margin-left: -530px



@media (max-width: 767px)
  .main-content.push-right
    float: none

