#more3
  text-align: center
  display: block
  width: 100%
  background: linear-gradient(#F9F9F9, #E8E8E8) repeat scroll 0 0 / 100% auto #E8E8E8
  font-size: 25px
  height: 30px
  color: #999

.image
  img
    box-shadow: 1px 1px 2px #ccc
.thumbnail
  background-color: #FFF
  width: 88%
  border-radius: 0
  height: auto
  margin-right: auto
  margin-left: auto
  img
    width: 130px
    height: 130px


.label-category
  .image
    width: 180px
    margin-right: 5px
    height: 160px
    float: left
    text-overflow: ellipsis
    overflow: hidden
    img
      margin-left: auto
      margin-right: auto
      width: 100px
      box-shadow: 1px 1px 2px #ccc


li.image
  .image-thumb > img
    box-shadow: 0px 0px 4px #ccc

.gallery
  margin-top: 0px
/*** list-grid switcher 88/
.list-grid-selector
  .btn
    text-shadow: none
  .btn.active, .btn:active
    box-shadow: none

/** list view **/
ul.list
  list-style: none
  section.top
    display: block
    margin-bottom: 25px
    margin-left: -12px
    .top3
      margin-right: -30px

  li
    display: block
    clear: both
    border-top: 1px solid #e5e5e5
    margin-left: 5px
    padding-top: 5px
    padding-bottom: 5px
    float: left
    &:last-child
      border-bottom: 1px solid #E5E5E5
    &:hover
      background-color: #f5f5f5
    .span1
      margin-left: 0

    section.left
      display: block
      float: left
      margin-right: -10px
      position: relative
      height: 50px
      text-align: center
      img
        max-width: 100%
        max-height: 100%
        border: 5px solid white
        margin-top: 0 !important
        box-sizing: border-box
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
    section.right
      display: block
      float: left
      text-align: left
      position: relative
  .list2
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
      

/** grid view **/
ul.grid
  list-style: none
  section.top
    display: none
  
  li
    position: relative
    float: left
    margin-right: 15px
    margin-top: 5px
    border-bottom: 0px
    padding-bottom: 0px
    padding-top: 0px

    .image-thumb
      height: 85px
      width: 85px
      text-align: center
      opacity: 0.8
      transition: 0.5s opacity
      &:hover
        opacity: 1
    .image-thumb > img
      border: 5px solid white

    section.left
      position: relative
    section.right
      display: none

@media screen and (max-width: 767px)
  .list-grid-selector
    display: block
    position: absolute
    top: -42px
    right: 0
  .gallery
    h4
      margin-top: 20px
    &>hr
      border: 0
      margin: 10px 0
    ul
      margin-left: 0      
    ul.list
      section.top
        display: none
      li
        margin-left: 0
        width: 100%
      .left
        clear: both
        float: right
        img
          border-width: 2px
      .image-thumb
        margin-left: 5px
      .right
        clear: both
        float: left
      .span8
        display: inline-block
        margin-left: 0px
        margin-top: -40px
        width: 100%
      .title
        margin-top: -10px
        margin-left: 10px
      .span3
        clear: both
  .preview-box
    display: none
  .list3, .list4, .list5
    display: none

@media (min-width: 1200px)
  ul.list
    li
      section.left
        margin-left: 2px

@media (min-width: 768px) and (max-width: 979px)
  span#delete
    display: none

  .top4, .list4
    display: none
  ul.list
    li
      section.left
        img
          border-width: 3px
  ul.list
    section.top
      .top3 
        margin-right: 0px

@media (min-width: 980px) and (max-width: 1200px)
  ul.list
    li
      section.left
        img
          border-width: 3px