.dropzone
  border-bottom: 5px solid #efefef
  border-radius: 0
  background-image: url('http://subtlepatterns.com/patterns/shinedotted.png')
.profile-dropzone
  text-align: center
  margin-bottom: 20px
  h4
    color: #666
  i
    font-size: 40px
    color: #CCCCCC

#expandable3
  height: 315px
#more3
  text-align: center
  display: block
  width: 100%
  background: linear-gradient(#F9F9F9, #E8E8E8) repeat scroll 0 0 / 100% auto #E8E8E8
  font-size: 25px
  height: 30px
  color: #999

li.image
  .image-thumb > img
    box-shadow: 1px 1px 2px #ccc

.gallery
  margin-top: 20px
/*** list-grid switcher 88/
.list-grid-selector
  .btn
    text-shadow: none
  .btn.active, .btn:active
    box-shadow: none

/** list view **/
ul.list
  list-style: none
  section.top
    display: block
    margin-bottom: 25px
    margin-left: -12px
    .top3
      margin-right: -30px

  li
    display: block
    clear: both
    border-top: 1px solid #e5e5e5
    margin-left: 5px
    padding-top: 6px
    float: left
    &:last-child
      border-bottom: 1px solid #E5E5E5
    &:hover
      background-color: #f5f5f5
    .span1
      margin-left: 0

    section.left
      display: block
      float: left
      margin-left: 10px
      margin-right: -10px
      position: relative
      img
        width: 35px
        height: 35px
    section.right
      display: block
      float: left
      text-align: left
      position: relative
  .list2
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
      

/** grid view **/
ul.grid
  list-style: none
  section.top
    display: none
  
  li
    position: relative
    float: left
    margin-right: 5px
    border-bottom: 0px
    padding-bottom: 0px
    padding-top: 0px

    section.left
      position: relative
    section.right
      display: none

    