.nav-list > li > a.active
	background-color: #0087cf
	color: #FFFFFF

#expandable1, #expandable2, #expandable3
	overflow: hidden
#more1, #more2
	//border-top: 1px solid #FFFFFF
	width: 100%
	display: block
	//background-color: #FFF
	font-size: 20px
	margin-left: 0px

.selected-profile
	a
		color: #E95A1E
		&:hover
			text-decoration: none
.sidebar
	.nav-list
		li
			text-shadow: none
		a
			text-shadow: none
.icon-tag.alt
	opacity: 0.1
.hide-mob
	display: inline-block
.hide-desktop
	display: none


.sidebar
	.browse-img > h5
		margin-bottom: 20px
		margin-top: 5px
	.img-thumb-placeholder-small
		width: 47px
		height: 47px
		display: block
		//background-color: #ccc
		float: left
		margin: 2.5px
	.image-thumb
		float: left
		margin-bottom: 10px
		.active
			border: 5px solid #F0A40C
			margin-top: -2.5px
		img
			width: 47px
			height: 47px
			display: block
			box-shadow: 1px 1px 2px #ccc
			margin: 2.5px

@media screen and (max-width: 767px)
	.hide-mob
		display: none
	.hide-desktop
		display: block
	.sidebar
		.nav-list
			a
				padding-top: 5px
				padding-bottom: 6px
				//background-color: #EEEEEE
				border-top: 1px solid #EEEEEE
				border-bottom: #FFF 1px solid

@media screen and (max-width: 480px)
	.sidebar
		.image-thumb
			img
				width: 37px
				height: 37px
		.img-thumb-placeholder-small
			width: 37px
			height: 37px


@media (min-width: 768px) and (max-width: 979px)
	.btn-group
		.hide-mob
			display: none
	.sidebar
		.image-thumb
			img
				width: 25.2px
				height: 25.2px
		.img-thumb-placeholder-small
			width: 25.2px
			height: 25.2px

@media (min-width: 980px) and (max-width: 1200px)
	.sidebar
		.image-thumb
			img
				width: 37px
				height: 37px
		.img-thumb-placeholder-small
			width: 37px
			height: 37px

