.tucked-corners-top
	background-attachment: scroll, scroll, scroll, scroll
	background-clip: border-box, border-box, border-box, border-box
	background-color: transparent
	background-image: -moz-linear-gradient(45deg, transparent 10px, #FFFFFF 10px), -moz-linear-gradient(135deg, transparent 10px, #FFFFFF 10px), -moz-linear-gradient(225deg, transparent 10px, #FFFFFF 10px), -moz-linear-gradient(315deg, transparent 10px, #FFFFFF 10px)
	background-origin: padding-box, padding-box, padding-box, padding-box
	background-position: left bottom, right bottom, right top, left top
	background-repeat: no-repeat
	background-size: 50% 50%
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
	margin: 10px auto
	//min-height: 400px
	display: block
	padding: 20px
	position: relative
	width: 770px
	margin-top: 20px
	margin-bottom: 50px

[class*="tucked-corners-"]:before, [class*="tucked-corners-"]:after
	box-shadow: 0 5px 13px -7px rgba(0, 0, 0, 0.5)
	content: ""
	height: 20px
	position: absolute
	width: 80px
	background-color: #FFF

.tucked-corners-top:before, .tucked-corners-top:after
	top: -10px

.tucked-corners-bottom:before, .tucked-corners-bottom:after
	bottom: -10px

.tucked-corners-top:before, .tucked-corners-bottom:before
	left: -42px

.tucked-corners-top:after, .tucked-corners-bottom:after
	right: -42px

.tucked-corners-top:before
	transform: rotate(-45deg)
	-moz-transform: rotate(-45deg)
	-webkit-transform: rotate(-45deg)
	-o-transform: rotate(-45deg)

.tucked-corners-top:after
	transform: rotate(45deg)
	-moz-transform: rotate(45deg)
	-webkit-transform: rotate(45deg)
	-o-transform: rotate(45deg)


.tucked-corners-bottom:before
	transform: rotate(-135deg)
	-moz-transform: rotate(-135deg)
	-webkit-transform: rotate(-135deg)
	-o-transform: rotate(-135deg)

.tucked-corners-bottom:after
	transform: rotate(135deg)
	-moz-transform: rotate(135deg)
	-webkit-transform: rotate(135deg)
	-o-transform: rotate(135deg)


.img-attr
	color: #999999
	background-color: #F5F5F5
	font-size: 12px
	display: block
	width: 100%
	float: left
	em
		color: #666666
	& > ul
		margin-left: 6px
		li
			list-style-type: none

ul#resize
	clear: both
	margin-bottom: 30px
	margin-left: 0
	display: block
	float: left
	h6
		text-transform: none
	li
		list-style-type: none
		display: block
		float: left
		background-color: #efefef
		border: 1px solid #fff
		padding: 10px
		border-radius: 5px
		margin-right: 6.9px
		text-align: center
		h5
			font-size: 13px
		h5, h6
			line-height: 5px
	li#img-size-custom
		width: 124px
		input
			margin-bottom: 0
			padding: 1px 4px 1px 4px
#share-links
	margin-top: 10px
	margin-bottom: 20px
	display: block
	clear: both
	input
		width: 100%

.labels
	clear: both
	display: block
	margin-bottom: 0px
	margin-left: 0px
	li
		list-style: none
		float: left
		&:last-child
			margin-bottom: 20px

.btn-group
	position: relative
	top: 0
	right: 0
	float: right
	display: inline-block
	margin-right: 2px
	margin-top: 2px
.editable_title
	background-color: #EAEAEA
	position: relative
	left: 0
	top: 0
	display: inline-block
	form
		padding-bottom: 40px
		button
			margin-top: 3px
.heading.editable_title
	width: 80%

.image-display
	margin-left: auto
	margin-right: auto
	margin-top: 20px
	display: block
	width: 770px
	img
		max-height: 600px
		display: inline-block

	#img
		text-align: center
		margin-bottom: 10px

.image-navbox
	margin-top: 25px

.delete-button
	clear: both
	display: block
	position: relative


.block
	display: block
	background-color: #F5F5F5
	border: 1px solid #D5D5D5
	border-top: 4px solid #D5D5D5
	padding-left: 10px
	padding-right: 10px
	margin-bottom: 10px
	border-radius: 4px
	min-height: 120px
	.block-title
		//padding-left: 0px
		padding-top: 6px
		padding-bottom: 10px
		font-size: 14px


@media screen and (max-width: 767px)
	.image-display
		width: 100%
	.delete-button
		padding-top: 12px
		padding-bottom: 10px
	.editable_title
		background-color: #F5F5F5

	.labels
		margin-top: 7px
		padding-bottom: 15px
		clear: both
		li
			float: left

	.tucked-corners-top
		background-attachment: scroll, scroll, scroll, scroll
		background-clip: border-box, border-box, border-box, border-box
		background-color: transparent
		background-image: -moz-linear-gradient(45deg, transparent 10px, #FFFFFF 10px), -moz-linear-gradient(135deg, transparent 10px, #FFFFFF 10px), -moz-linear-gradient(225deg, transparent 10px, #FFFFFF 10px), -moz-linear-gradient(315deg, transparent 10px, #FFFFFF 10px)
		background-origin: padding-box, padding-box, padding-box, padding-box
		background-position: left bottom, right bottom, right top, left top
		background-repeat: no-repeat
		background-size: 50% 50%
		box-shadow: none
		margin: 10px auto
		//min-height: 400px
		display: block
		padding: 0
		position: relative
		width: 100%
		margin-top: 0px
		margin-bottom: 0px
		.span8
			width: 100%

	[class*="tucked-corners-"]:before, [class*="tucked-corners-"]:after
		box-shadow: none
		content: ""
		height: 0
		position: relative
		width: 0
		background-color: #FFF

	.tucked-corners-top:before, .tucked-corners-top:after
		top: 0px

	.tucked-corners-bottom:before, .tucked-corners-bottom:after
		bottom: 0px

	.tucked-corners-top:before, .tucked-corners-bottom:before
		left: 0px

	.tucked-corners-top:after, .tucked-corners-bottom:after
		right: 0px

	.tucked-corners-top:before, .tucked-corners-top:after, .tucked-corners-bottom:before, .tucked-corners-bottom:after
		transform: none
	#share-links
		input
			width: 80%
	.btn-group
		position: absolute
		top: 0
		right: 0
		float: right
		display: inline-block
		margin-right: 2px
		margin-top: -41px

	.heading.editable_title
		width: 100%
	ul#resize
		li
			margin-bottom: 10px

@media screen and (min-width: 768px) and (max-width: 979px)
	.tucked-corners-top
		width: 430px
		.span8
			width: 430px
		.span4
			width: 205px
	.image-display
		width: 430px
		img
			max-height: 500px
	ul#resize
		li
			margin-bottom: 10px
		li#img-size-custom
			width: 139px

@media screen and (min-width: 980px) and (max-width: 1200px)
	.tucked-corners-top
		width: 600px
		.span8
			width: 600px
		.span4
			width: 290px
	.image-display
		width: 600px
		img
			max-height: 550px
	#share-links
		margin-top: 150px
	ul#resize
		li
			margin-bottom: 10px
			margin-right: 0
			padding: 10px 3.5px
		li#img-size-custom
			width: 121px

@media screen and (min-width: 1200px)
	.image-display
		margin-bottom: 30px
